/*Make default values to zero*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Implementing the CSS Property for UI*/
.App {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);

    overflow-x: hidden;
}

h1 {
    color: #f0f0f0;
    margin-bottom: 50px;
}

input {
    all: unset;
    height: 40px;
    margin-right: 10px;
    padding: 0 20px;
    border-radius: 10px;
    background-color: rgba(219, 226, 239, 0.5);
}

::placeholder {
    color: rgb(200, 204, 216);
}

button {
    all: unset;
    font-size: 0.85rem;
    margin-bottom: 10px;
    padding: 10px 30px;
    border-radius: 5px;
    color: #f0f0f0;
    background-color: #3F72AF;
    text-transform: uppercase;
    cursor: pointer;
}

.weather-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city-name {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #f0f0f0;
}

.weather-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.weather-box {
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.error {
    margin-top: 100px;
    font-size: larger;
    color: #f0f0f0;
}

.error-img {
    height: 200px;
}